{% load static %}
<header class="section-header">
<nav class="navbar p-md-0 navbar-expand-sm navbar-light border-bottom">
<div class="container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTop4">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
         	<a href="#" class="nav-link"> English </a>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link"> USD </a>
        </li>
    </ul>
    <ul class="navbar-nav">
        <li><a href="#" class="nav-link"> <i class="fa fa-envelope"></i> Email </a></li>
        <li><a href="#" class="nav-link"> <i class="fa fa-phone"></i> Call us </a></li>
    </ul> <!-- list-inline //  -->
  </div> <!-- navbar-collapse .// -->
</div> <!-- container //  -->
</nav>
{% if user.role is Vendor %}
<section class="header-main border-bottom">
    <div class="container">
<div class="row align-items-center">
    <div class="col-lg-2 col-md-3 col-6">
        <a href="{% url 'home' %}" class="brand-wrap">
            <img class="logo" src="{% static 'images/logo.png' %}">
        </a> <!-- brand-wrap.// -->
    </div>
    <div class="col-lg col-sm col-md col-6 flex-grow-0">
        <div class="category-wrap dropdown d-inline-block float-right">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> 
                <i class="fa fa-bars"></i> All category 
            </button>
            <div class="dropdown-menu">
                <li><a href="{% url 'store' %}">All</a></li>
                {% for  category in  link%}
                    <a class="dropdown-item" href="{% url 'products_by_category' category %}">{{category.name}}</a>
                {% endfor %}
            </div>
        </div>  <!-- category-wrap.// -->
    </div> <!-- col.// -->
    <a href="{% url 'store' %}" class="btn btn-outline-primary">Store</a>
    <div class="col-lg col-md-6 col-sm-12 col">
        <form action="{% url "search" %}" class="search">
            <div class="input-group w-100">
                <input type="text" class="form-control" style="width:60%;" placeholder="Search" name="q">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
            </div>
        </form> <!-- search-wrap .end// -->
    </div> <!-- col.// -->
    {% endif %}
    <div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
                <div class="widget-header" style="text-align: left;">
                    {% if not user.is_authenticated %}
                        <h4 class="title text-muted">Welcome guest!</h4>
                        <div style="margin-top: 10px;">
                            <a href="{% url 'register' %}" class="btn btn-primary">Register</a>
                            <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
                        </div>
                    {% else %}
                        <h5 class="title text-muted">Welcome, {{ user.username }}!</h5>
                        <form action="{% url 'logout' %}" method="GET" style="margin-top: 10px;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Logout</button>
                        </form>
                    {% endif %}
                </div>          
              </div> <!-- col.// -->
</div> <!-- row.// -->
    </div> <!-- container.// -->
</section> <!-- header-main .// -->

</header> <!-- section-header.// -->
